.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: 
    "student breaking css"
    "boy content content"
    ;
    }
h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
#StudentlearnsHTML{
    grid-area: student;
    border: 1px solid black;
}
#BREAKINGPuppiesAreAddorable{
    grid-area: breaking;
    border: 1px solid black;
}
img{
    width:300px;
    height:200px;
}
#CSSIsApparentlyAThing{
    grid-area: css;
    border: 1px solid black;
}
#BoyLikeTurtle{
    grid-area: boy;
    border: 1px solid black;
}
.content{
    grid-area:content;
    border: 1px solid; 
}
#Politics{
    background-color: rgb(201, 195, 110);
    grid-area: politics;
    height: 20%;
}
#Technology{
    background-color: lightskyblue;
     grid-area: technology;
     height: 20%;
}
#Locals{
    background-color: dodgerblue;
    grid-area: locals;
    height: 20%;
}
#Opinion{
    background-color:lightgreen;
    grid-area: opinion;
    height: 20%;
}
#Sports{
    background-color:#7a09af;
    grid-area: sports;
    height: 20%;
}